.badge {
  margin: .2rem;
}

.badge-green {
  background: green;
  border-radius: 25%;
  padding: .2rem;
  margin: .2rem;
}

.badge-red {
  background: red;
  border-radius: 25%;
  padding: .2rem;
  margin: .2rem;
}
